 <% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_public_user_path(@user) %>">
    <strong id="following" class="stat">
      <h4><%= @user.followings.count %></h4>
    </strong>
    <h4>フォロー中</h4>
  </a>
  <a href="<%= followers_public_user_path(@user) %>">
    <strong id="followers" class="stat">
      <h4><%= @user.followers.count %></h4>
    </strong>
    <h4>フォロワー</h4>
  </a>
</div>